.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff8f8;
}
.input {
  border: none;
  outline: none;
  width: 100%;
  min-width: 220px;
  padding: 18px;
}

.button {
  /* backgroundColor: "#3d7475",
            marginTop: 10,
            padding: "10px 30px 10px 30px",
            borderRadius: "50px 0 0 0 ",
            color: "#fff",
            fontSize: "1.5rem", */

  background-color: #3d7475;
  margin-top: 10px;
  padding: "10px 30px 10px 30px";
  border-radius: "50px 0 0 0";
  color: #fff;
  font-size: "1.5rem";
}
